{% load static %}

<div class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">

                </button>
                <a class="navbar-brand"><img src="" class="logo" alt="">LOGO</a>

            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Categories</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop.html">Old book</a></li>
                            <li><a href="shop-detail.html">Drama</a></li>
                            <li><a href="cart.html">novel</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="sell">Sell</a></li>
                    <li class="nav-item"><a class="nav-link" href="aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="specialdeals">Special Deals</a></li>
                </ul>
            </div>
            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search.." name="search" >
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>